@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    min-height: 100%;
    background: #eeeeee;
    color: #000;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
}

/* sets the base font size for the document; turns on kerning pairs and ligatures */

.weatherInput {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.weatherDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.currentLocationTemp {
    font-size: 8rem;
    font-weight: 300;
}

.mainWeatherDesc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

h4 {
    font-weight: 300;
}

.windContainerImg,
.precipContainerImg,
.humidContainerImg {
    height: 1.5rem;
    max-width: 100%;
    filter: invert(59%) sepia(13%) saturate(18%) hue-rotate(331deg) brightness(91%) contrast(87%);
}

.conditionImg {
    height: 2.5rem;
    transform: scale(2);
    image-rendering: crisp-edges;
    /* Adjust the scale factor as needed */
}

.windContainer,
.precipContainer,
.humidContainer {
    color: #747474;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.input-container {
    position: relative;
    margin: 50px auto;
    width: 200px;
}

.input-container input[type="text"] {
    font-size: 24px;
    font-weight: 700;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
    transition: width 0.3s ease;
    width: 90px;
}

.input-container input[type="text"]:focus {
    width: 140px;
    /* Adjust the width as per your requirement */
}

.input-container input[type="text"]:valid {
    width: 140px;
    /* Adjust the width as per your requirement */
}


.forecastDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.toggleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.5rem;
}